a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: rgb(49, 49, 49);
    color: green;
    cursor: pointer;
}




.ramka {
    /* border: 1px solid black; */
    background: white;
    width: 100%;
    height: 600px;
    /* margin: 0 auto; */
    /* vertical-align: middle; */
}

.img {
    position: absolute;
    top: 50%;
    /* transform: translate(0, -50%); */
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: -1; */
    /* margin: 0 auto; */
    /* vertical-align: middle; */
}

.delete-img {
    z-index: 1;
    width: 100px;
    height: 50px;
    display: none;
    transition: all 1s linear;
}

.ramka:hover .delete-img {
    transition: all 1s linear;
    display: inline-block;

}

.carousel-indicators button {
    /* border-radius: 50%; */
    width: 20px;
    height: 20px;
    background: black;
    border: none;
}

.carousel-indicators .active {
    background: black;
    border: none;
}

.carousel-indicators [data-bs-target] {
    width: 25px;
    height: 5px;
    border: none;
    background: black;
}

.card-image {
    width: 100%;
    /* max-width: 220px; */
    height: 220px;
}

.card-product {
    transition: all .3s ease-in-out;
}

.card-product:hover {
    cursor: pointer;
    transform: scale(1.005);
    border: 1px solid rgb(206, 206, 206);
}

.card-body1 {
    background: white;
    width: 100%;
    height: 130px;
    /* margin: 0 auto; */
    /* vertical-align: middle; */
}

.go-btn {
    position: absolute;
    width: 85%;
    bottom: 10px;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, 0);
}

.home-carousel {
    /* background-color: rgb(255, 94, 0); */
    border-radius: 10px;
    background-image: url(./images/bugdoy.jpg);
    background-size: cover;
    background-position: center;
    
    height: 500px;
}
.home-carousel2 {
    /* background-color: rgb(255, 94, 0); */
    border-radius: 10px;
    background-image: url(./images/cotton.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
}

.slider-text {
    /* position: absolute; */

}

.tel-btn{
    position: absolute;
    bottom: 0;
}

/* .home-img {
    position: relative;
    right: -20px;
    bottom: -50px;
    z-index: 20;
} */

@media only screen and (max-width: 576px) {
    .slider-text {
        /* position: inherit; */
        width: 100%;
    }

    .home-img {
        display: none;

    }

    .home-call-btn {
        width: 100%;
    }

    .card-image {
        width: 150px;
        height: 150px;
    }

    .card-body1 {
        height: 120px;
    }

    .card-body1 h6 {
        font-size: 13px;
    }


}

.swiper-button-next,
.swiper-button-prev {
    color: green;
    border: none;
    background: white;

    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 20px;
}

.swiper-button-disabled {
    display: none;
}

.form-control:focus {
    border-color: #29b976;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(1, 107, 57, 0.25);

}

ul {
    overflow: hidden;
}

li {
    display: inline-block;
}